services:
  - type: site
    name: ultimate-sorting-visualizer
    buildCommand: npm install && npm run build
    publishDir: dist
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
